.list {
  margin-bottom: 30px;

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 12px;

    &.active {
      background: #ffffff;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
    }

    i {
      display: inline-flex;
      margin-right: 8px;
      svg {
        path {
          fill: #7c7c7c;
        }
      }
    }

    .badge {
      width: 10px;
      height: 10px;
      border-radius: 30px;
      position: relative;
      left: 5px;

      &--green {
        background-color: #42b883;
      }

      &--blue {
        background-color: #64c4ed;
      }

      &--pink {
        background-color: #ffbbcc;
      }
    }
  }
}
