.list {
  margin-bottom: 30px;

  &__add-button {
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 12px;

    &.active {
      background: #ffffff;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
    }

    .badge {
      position: relative;
      left: 5px;
    }

    i {
      display: inline-flex;
      margin-right: 8px;
      svg {
        path {
          fill: #7c7c7c;
        }
      }
    }
  }
}
