.tasks {
  &__title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #64c4ed;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;

    &:hover {
      img {
        opacity: 0.2;
      }
    }

    img {
      opacity: 0;
      cursor: pointer;
      margin-left: 15px;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__items {
    margin-top: 30px;

    &-row {
      display: flex;
      align-items: center;

      input {
        margin-left: 15px;
        border: 0;
        font-size: 16px;
        width: 100%;
      }
    }
  }

  .checkbox {
    input {
      display: none;
    }

    svg {
      transition: opacity 0.15s ease-in-out;
      path {
        stroke: #f2f2f2;
      }
    }

    input:checked + label {
      background-color: #4dd599;
      border-color: #4dd599;

      svg {
        opacity: 1;
        path {
          stroke: #fff;
        }
      }
    }

    &:hover {
      label {
        background-color: #f2f2f2;
        border-color: #f2f2f2;
        svg {
          opacity: 1;
          path {
            stroke: #b2b2b2;
          }
        }
      }
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #e8e8e8;
      border-radius: 30px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      transition: background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;

      svg {
        opacity: 0;
      }
    }
  }
}
